<!DOCTYPE html>
<html>

<head>
    <title><%= name %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../vendor/normalize.css">
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
</script>

<body class="content">

    <header class="header primary-color-bg">
        <nav class="navigation container">
            <div class="menu">
                <a href="/" class="link menu-item <%if (linkActive === "home") {%>  link-active  <%}%>">Home</a>
                <a href="/prices" class="link menu-item <%if (linkActive === "prices") {%>  link-active  <%}%>">Cijene</a>
            </div>
        </nav>
    </header>


   
       
    </main>
	<h1><%=name%></h1>
	<% for (let tag of tags) { %>
	    -><%=tag%>		
	<%}%>
	
    <% for (let trgovina of stores) { %>
        <section class="section secondary-color-bg">
            <div class="centered-container">
                <h1 class="decorated-title font-secondary main-color">
                    <a href="/profile/<%=trgovina.TrgovinaID%>"><span class="main-color-emphasized"><%= trgovina.name %></span></a>
                    </h1>
                <div class="separator"></div>
            </div>
            <% if (trgovina.prices.length === 0) { %>
                <div class="centered-container">
                    <h2 class="decorated-title font-secondary main-color">Proizvod ne postoji u niti jednoj trgovini</h2>
                </div>
            <% } else { %>
                <div class="centered-container">
                    <% for (let cijena of trgovina.prices) { %>
                            <div class="photo-box-title font-secondary main-color-emphasized"><%= cijena %>kn</div>
                        
                    <% } %>
                </div>
            <% } %>
        </section>
    <% } %>


</body>

</html>
