<!DOCTYPE html>
<html>

<head>
    <title>Cjenik svega</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../styles/navbar.css">
    <link rel="stylesheet" type="text/css" href="../styles/item.css">
    <link rel = "icon" href = "/images/logo.png" type = "image/x-icon">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>

<body>

    <%- include("partials/navbar.ejs"); %>

    <% if (item.stores.length == 0) { %>

        <div class="sold-out">
            <div><%= item.name %> je nažalost rasprodan u svim trgovinama. :(</div>
            <a href="/" class="sold-out-link">Povratak na home</a>
        </div>

    <% } else { %>

        <h1><%= item.name %> </h1>
        <% for (let tag of item.tags) { %>
            -><%=tag%>		
        <%}%>
        
        <% for (let trgovina of item.stores) { %>
    
            <div>
                <h1>
                    <a href="/profile/<%=trgovina.TrgovinaID%>"><span class="main-color-emphasized"><%= trgovina.name %></span></a>
                </h1>
            </div>
            
            <% if (trgovina.prices.length === 0) { %>
			
            <% } else { %>
                    <% for (let cijenaVrijeme of trgovina.prices) { %>
                        <div class="photo-box-title font-secondary main-color-emphasized">
							<%= cijenaVrijeme.price %>kn &emsp;&emsp; (<%= cijenaVrijeme.datetime %>) &emsp;&emsp;
							<%if (cijenaVrijeme === trgovina.prices[0] && user !== undefined) {%>
								<a href="/report/<%=trgovina.TrgovinaID%>?item=<%=item.barcode%>">Prijavi krivu cijenu</a>
							<%}%>
						</div>
                    <% } %>
            <% } %>

        <% } %>    
    <% } %>
	
</body>

</html>
