<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./styles/navbar.css">
    <link rel="stylesheet" type="text/css" href="./styles/notifications.css">
    <link rel = "icon" href = "/images/logo.png" type = "image/x-icon">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Cjenik svega</title>
</head>

<body>

    <%- include('partials/navbar.ejs') %>

    <div class="container">
        <div class="container-items">
            <h2>Obavijesti: </h2>
            <% if(notifications.length == 0) { %>
                <div>
                    Nemate nijednu novu obavijest.
                </div>
            <% } else { %>
                <% for(let notification of notifications) { %>
                    <div>
                        <p>(<%= notification.dateTime.toLocaleString('de-AT') %>)</p>
                        <p><%= notification.text %></p>
                    </div>
                <% } %>
            <% } %>
        </div>

        <div class="container-items">

            <% if(user.access_level == 2){%>
                <h2>Zahtjevi za promjenom cijene: </h2>
                <% if(priceChangeRequests.length == 0) { %>
                    <div>
                        Nemate nijedan nepregledan zahtjev za promjenom cijene.
                    </div>
                <% } else { %>
                
                    <% for(let request of priceChangeRequests) { %>
                        <div class="container-request">
                            <p>(<%= request.date_time.toLocaleString('de-AT') %>)</p>
                            <p>Korisnik koji je predložio izmjenu: <a href="/profile/<%= request.user_id %>" class="container-link"><%= request.user_nickname %></a></p>
                            <p>Trgovina: <a href="/profile/<%= request.store_id %>" class="container-link"><%= request.store_name %></a></p>
                            <p>Proizvod: <a href="/item/<%= request.product_barcode %>" class="container-link"><%= request.product_barcode %></a></p>
                            <p>Predložena cijena: <%= request.new_price %> kn</p>
                            <img src="<%= request.image_url %>" class="slika">
            
                            <form action="/priceChange" method="post" class="container-form">
            
                                <input type="hidden" name="request_id" value="<%= request.id %>">
                                <div class="container-form-input">
                                    <input type="radio" id="accepted" name="status" value="accepted">
                                    <label for="accepted">Prihvati zahtjev</label><br>
                                </div>
                                <div class="container-form-input">
                                    <input type="radio" id="reject" name="status" value="reject">
                                    <label for="reject">Odbij zahtjev</label><br>
                                    
                                    <input type="submit" value="Submit" class="container-form-input">
                                </div>

                            </form>
                            <hr>
                        </div>
                    <% } %>
                <% } %>
            <% } %>
        </div>
    </div>


</body>

</html>